.Default {
    color: #000000;
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', 'serif';
    font-size: 12pt;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 15pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
    margin-top: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    text-align: left;
    text-decoration: none;
    text-indent: 0pt;
    text-transform: none;
}
.Heading_1 {
    color: #000000;
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', 'serif';
    font-size: 12pt;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 15pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
    margin-top: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    text-align: left;
    text-decoration: none;
    text-indent: 0pt;
    text-transform: none;
}
.Heading_2 {
    color: #000000;
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', 'serif';
    font-size: 12pt;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 15pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
    margin-top: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    text-align: center;
    text-decoration: none;
    text-indent: 0pt;
    text-transform: none;
}
.Text_body {
    color: #000000;
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', 'serif';
    font-size: 11pt;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 13pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
    margin-top: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    text-align: left;
    text-decoration: none;
    text-indent: 0pt;
    text-transform: none;
}
.Text_body_indent {
    color: #000000;
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', 'serif';
    font-size: 11pt;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 13pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
    margin-top: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    text-align: left;
    text-decoration: none;
    text-indent: 0pt;
    text-transform: none;
}
.WW_Body_Text_Indent_2 {
    color: #000000;
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', 'serif';
    font-size: 11pt;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 13pt;
    margin-bottom: 0pt;
    margin-left: 18pt;
    margin-right: 0pt;
    margin-top: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    text-align: left;
    text-decoration: none;
    text-indent: 0pt;
    text-transform: none;
}
.Normal, .layout_style_1 {
    width: 432pt;
}
.layout_style_1 {
    width: 432pt;
}
.Spacer {display: inline; }
.Spacer {display: inline-block; }
ol {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
}
.Bullet {    border: none;
    text-decoration: none;
}
div {
    overflow: visible;
}
img {
    border: none;
}
.searchtext {
}
