BODY {
font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
color: black;
font-size: 1.1em;
}

TABLE {
border-width: 1px;
border-spacing: 0px;
border-style: solid;
border-color: black;
}

TD {
border-width: 1px;
padding: 4px;
border-style: solid;
border-color: black;
}

TR.GrayRow {
background-color: #dddddd;
}

TR.GrayRow TD {
border-top: #bbbbbb 1px solid;
border-bottom: #bbbbbb 1px solid;
}

TH {
background-color: #bcbcdc;
padding: 4px;
}
