<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
		<title>Pika: %%[page_title]%%</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <!-- Le styles -->
	    <link href="%%[base_url]%%/css/bootstrap.min.css" rel="stylesheet">
	    <style>
	      body {
	        padding-top: 55px; /* 60px to make the container go all the way to the bottom of the topbar */
	        background-color: white;  /* #e0ded9; */
	      }
	      
	      h2 {
	      	font-size: 16px;
		  }
	      
	      #page_title {
	      	  color: #ddd;
		  }
		  
		  #page_content, #footer {
		  	margin-left: 3em;
		  }
	    </style>

	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	      <script src="../assets/js/html5shiv.js"></script>
	    <![endif]-->

		<script type="text/javascript" src="%%[base_url]%%/js/jquery.min.js"></script><style type="text/css"></style>
		<script type="text/javascript" src="%%[base_url]%%/js/bootstrap.min.js"></script>
		<script>
// Charles Lawrence - Feb 16, 2012. Free to use and modify. Please attribute back to @geuis if you find this useful
// Twitter Bootstrap Typeahead doesn't support remote data querying. This is an expected feature in the future. In the meantime, others have submitted patches to the core bootstrap component that allow it. 
// The following will allow remote autocompletes *without* modifying any officially released core code. 
// If others find ways to improve this, please share.
 
    var autocomplete = $('#searchinput').typeahead()
        .on('keyup', function(ev){
 
            ev.stopPropagation();
            ev.preventDefault();
 
            //filter out up/down, tab, enter, and escape keys
            if( $.inArray(ev.keyCode,[40,38,9,13,27]) === -1 ){
 
                var self = $(this);
                
                //set typeahead source to empty
                self.data('typeahead').source = [];
 
                //active used so we aren't triggering duplicate keyup events
                if( !self.data('active') && self.val().length > 0){
 
                    self.data('active', true);
 
                    //Do data request. Insert your own API logic here.
                    $.getJSON("https://192.168.160.130/cms6/autocomplete.php",{
                        q: $(this).val()
                    }, function(data) {
 
                        //set this to true when your callback executes
                        self.data('active',true);
 
                        //Filter out your own parameters. Populate them into an array, since this is what typeahead's source requires
                        var arr = [],
                            i=data.results.length;
                        while(i--){
                            arr[i] = data.results[i].text
                        }
 
                        //set your results into the typehead's source 
                        self.data('typeahead').source = arr;
 
                        //trigger keyup on the typeahead to make it search
                        self.trigger('keyup');
 
                        //All done, set to false to prepare for the next remote query.
                        self.data('active', false);
 
                    });
 
                }
            }
        });
</script>

		<!-- header --><!-- %%[header]%% -->
		%%[rss]%%
		<link rel="icon" href="%%[base_url]%%/favicon.ico" />
		<link rel="shortcut icon" href="%%[base_url]%%/favicon.ico" />
		<link rel="apple-touch-icon" href="%%[base_url]%%/m/images/pika-icon-ios.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="%%[base_url]%%/m/images/pika-icon-ios-57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="%%[base_url]%%/m/images/pika-icon-ios-72.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="%%[base_url]%%/m/images/pika-icon-ios-114.png" />
	</head>
	<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
		<div class="container" style="width: auto; padding: 0px 20px 0px 50px; background-image: url('%%[base_url]%%/images/icon-39.png'); background-repeat: no-repeat;">

		
			<a class="brand" href="%%[base_url]%%" id="page_title"><!-- <img src="%%[base_url]%%/images/icon.png" height="16" width="16" /> -->
				%%[org_name]%%<!-- org_name --></a>
			
			<form class="navbar-form pull-right" name="sform" method="get" action="%%[base_url]%%/search.php" id="sform">
			<input name="s" value="" accesskey="f" type="text" id="searchinput" autocomplete="off" data-provide="typeahead" data-items="4">
			<!-- input name="s" value="" accesskey="f" type="text" autocomplete="off" data-provide="typeahead" class='ajax-typeahead' / -->
			<input name="search_submit" value="Search" type="submit">
			</form>

			<!--
			<ul class="nav pull-right">
				<li><a href="%%[base_url]%%/prefs.php">You are logged in as %%[user_handle]%%!-- username --</a></li>
				<li><a href="%%[base_url]%%/services/logout.php">Log Off</a>
				</li>
				<li class="divider-vertical"></li>
			</ul>
			-->
		
			<div class="btn-group">
				<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
				Shortcuts <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
						<li><a href="%%[base_url]%%/site_map.php" accesskey="m">Site <strong>M</strong>ap</a></li>
						<li><a href="%%[base_url]%%/case_list.php?mode=open" accesskey="l">Case <strong>L</strong>ist</a></li>
						<li><a href="%%[base_url]%%/addressbook.php" accesskey="d">A<strong>d</strong>dress Book</a></li>
						<li><a href="%%[base_url]%%/cal_day.php" accesskey="c"><strong>C</strong>alendar</a></li>
						<li><a href="%%[base_url]%%/intake2.php" accesskey="i"><strong>I</strong>ntake</a></li>
						<li><a href="%%[base_url]%%/activity.php?screen=compose&act_type=T" accesskey="t"><strong>T</strong>ime Slip</a></li>
						<li><a href="%%[base_url]%%/reports/" accesskey="r"><strong>R</strong>eports</a></li>
						<li><a href="mailto:%%[admin_email]%%" accesskey="p">Su<strong>p</strong>port</a></li>
  				</ul>
			  
			  <a class="btn btn-inverse" href="%%[base_url]%%/prefs.php">%%[user_handle]%%<!-- username --></a>
			  
			  <a class="btn btn-inverse" href="%%[base_url]%%/services/logout.php">Log Off</a>

                </div>
			</div>
		</div>
	</div>

	<div id="page_content" class="container">
		<ul class="breadcrumb">
			<li id="software_label">%%[nav]%%</li>	
		</ul>
		<!-- begin page content -->
		%%[content]%%
		<!-- end page content -->
	</div>
	<div id="footer" class="container">
		<p id="ql">
			<a href="%%[base_url]%%/site_map.php" accesskey="m">Site <strong>M</strong>ap</a> |
			<a href="%%[base_url]%%/case_list.php?mode=open" accesskey="l">Case <strong>L</strong>ist</a>&nbsp;|
			<a href="%%[base_url]%%/addressbook.php" accesskey="d">A<strong>d</strong>dress Book</a>&nbsp;|
			<a href="%%[base_url]%%/cal_day.php" accesskey="c"><strong>C</strong>alendar</a>&nbsp;|
			<a href="%%[base_url]%%/intake2.php" accesskey="i"><strong>I</strong>ntake</a>&nbsp;|
			<a href="%%[base_url]%%/activity.php?screen=compose&act_type=T" accesskey="t"><strong>T</strong>ime Slip</a>&nbsp;|
			<a href="%%[base_url]%%/reports/" accesskey="r"><strong>R</strong>eports</a>&nbsp;|
			<a href="mailto:%%[admin_email]%%" accesskey="p">Su<strong>p</strong>port</a>
		</p>

		<p id="copyright">
			&copy; 2013 Pika Software, LLC
			<a href="http://pikasoftware.com/">www.pikasoftware.com</a>
		</p>
		
		<p id="warnings">
			%%[php_warnings]%%
		</p>	
	</div>
	</body>
</html>
