<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<meta http-equiv="MSTHEMECOMPATIBLE" content="no"/>
<title>Pika: %%[page_title]%%</title>
<link href="%%[base_url]%%/css/danio.css" rel="stylesheet" type="text/css"/>
<!-- header --><!-- %%[header]%% -->
<link rel="icon" href="%%[base_url]%%/favicon.ico" />
<link rel="shortcut icon" href="%%[base_url]%%/favicon.ico" />
</head>
<body>
<br/>

<table border="0" cellpadding="0" cellspacing="0" align="center" summary="" id="main">
	<tr valign="top" class="nav">
    	<td>
			<h1>%%[nav]%%</h1>
		</td>
		<td>
			<form name="sform" method="get" action="%%[base_url]%%/search.php">
			<div id="searchbox">
		    	<input type="text" name="s" size="16" value="" accesskey="f" class="search_text"/>
		    	<input type="submit" name="search_submit" value="Search Pika"/>
		    </div>
	    	</form>
	    </td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="%%[base_url]%%/images/blank.gif" height="400" width="1" align="left" alt=""/>
		    <!-- begin page content -->
			%%[content]%%
		    <!-- end page content -->
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<p class="ql">
		    	Quick Links:
		        <a href="%%[base_url]%%/site_map.php" accesskey="m">Site <strong>M</strong>ap</a> |
		        <a href="%%[base_url]%%/case_list.php?mode=open" accesskey="l">Case <strong>L</strong>ist</a>&nbsp;|
		        <a href="%%[base_url]%%/addressbook.php" accesskey="d">A<strong>d</strong>dress Book</a>&nbsp;|
		        <a href="%%[base_url]%%/cal_day.php" accesskey="c"><strong>C</strong>alendar</a>&nbsp;|
		        <a href="%%[base_url]%%/intake2.php" accesskey="i"><strong>I</strong>ntake</a>&nbsp;|
		        <a href="%%[base_url]%%/activity.php?screen=compose&act_type=T" accesskey="t"><strong>T</strong>ime Slip</a>&nbsp;|
		        <a href="%%[base_url]%%/reports/" accesskey="r"><strong>R</strong>eports</a>&nbsp;|
		        <a href="mailto:%%[admin_email]%%" accesskey="p">Su<strong>p</strong>port</a>
			</p>
		</td>
	</tr>
	<tr class="nav">
		<td>
			<a href="prefs.php">%%[user_handle]%%<!-- username --></a> @ %%[org_name]%%<!-- org_name -->
		</td>
		<td>
			<form name="sform" method="get" action="%%[base_url]%%/search.php">
		  	<div id="searchbox">
			    	<input type="text" name="s2" size="16" value="" accesskey="f" class="search_text"/>
			    	<input type="submit" name="search_submit2" value="Search Pika"/>
			</div>
		    </form>
	    </td>
	</tr>
</table>

<div style="padding: 8px; font-size: 10px; text-align: center;">
	&copy; 2001-2004 Pika Software, LLC <a href="http://pikasoftware.net">www.pikasoftware.net</a>
</div>

</body>
</html>

